body {
  background-color: #f4d5b8;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
header {
  background-color: #ffffff;
  margin: 0;
  padding: 1rem 0;
}
.header--title {
  margin: 0 1rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 100;
}

/* HEAD SECTION */
.head {
  padding: 5rem 0;
  display: flex;
  flex-flow: column wrap;
}

/* Circle */
.head--circle {
  background-color: #f4b37d;
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  margin: 0 auto;
}
.head--circle::before {
  background-color: #f4b37d;
  height: 1.5rem;
  width: 1.5rem;
  content: '';
  display: inline-block;
  border-radius: 50%;
  position: relative;
  left: 24rem;
  top: -1.5rem;
}
.head--circle::after {
  background-color: #f4b37d;
  height: 3rem;
  width: 3rem;
  content: '';
  display: inline-block;
  border-radius: 50%;
  position: relative;
  left: 25rem;
  top: 2rem;
}

/* Dogs picture */
.head--picture {
  height: 25rem;
  width: 25rem;
  margin: -25rem auto 0;
  display: flex;
  align-items: center;
}
.picture--shiba {
  height: 55%;
  width: auto;
  margin: 0 auto;
  opacity: 0.5;
  mix-blend-mode: multiply;
  z-index: 1;
}

/* Title */
.head--title {
  z-index: 0;
  margin: -25rem auto 0;
}
.title--content {
  color: white;
  font-size: 8rem;
  margin: 0 auto;
  text-align: center;
  font-weight: 900;
}

/* Shopping button */
.head--button {
  margin: 10rem auto 0;
  display: flex;
}
.button--shopping {
  text-align: center;
  margin: 0 auto;
  font-size: 1.4rem;
  font-weight: 100;
  background-color: #f4b37d;
  color: #ffffff;
  border: solid #ffffff 0.1rem;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}
.button--shopping:hover {
  font-weight: 300;
  padding: 0.4rem 0.55rem;
}

/* ABOUT SECTION */
.about {
  background-color: #f4b37d;
  color: #ffffff;
}
.about--description {
  display: flex;
  flex-flow: row wrap;
  padding: 0 3rem;
}
.description {
  max-width: calc(100% / 3);
}