.article--block {
  display: flex;
  flex-flow: row wrap;
  padding: 0 1rem;
  margin: 4rem 0 10rem;
}
.block--picture {
  width: calc(45% - 2rem);
  padding-right: 0.8rem;
  display: flex;
  overflow: hidden;
  justify-content: center;
  height: 70vh;
}
.picture-article {
  height: 100%;
  width: auto;
}
.block--info {
  width: calc(55% - 2rem);
  padding-left: 0.8rem;
  display: flex;
  flex-flow: column wrap;
}

.article--wave {
  position: absolute;
  margin-top: -10rem;
  z-index: -1;
}
.wave--picture {
  width: 100vw;
  height: auto;
}

.article--sugestion {
  background-color: #D48852;
  padding: 0 3rem;
}
.sugestion--title {
  margin: 0 0 2rem;
}