.products {
  color: #ffffff;
  margin: 3rem 0;
}
.products--grid {
  display: flex;
  flex-flow: row wrap;
  padding: 0 4rem;
}
.grid--article {
  width: calc(90% / 3);
  padding: 0 calc(5% / 3);
}
.grid--article:hover {
  color: #f4b37d;
  cursor: pointer;
}
.article--picture {
  overflow: hidden;
  height: 12rem;
  width: 12rem;
  margin: 0 auto;
}
.picture {
  width: 100%;
  height: auto;
  mix-blend-mode: multiply;
}
.article--info {
  text-align: center;
  margin: 1rem 0 0 ;
}
.info--name {
  margin: 0;
}
.info--price {
  margin: 0.5rem 0 0;
  font-size: 1.1rem;
}