.products {
  color: #ffffff;
  margin: 3rem 0;
}
.products--grid {
  display: flex;
  flex-flow: row wrap;
  padding: 0 4rem;
}
.grid--article {
  width: calc(90% / 3);
  padding: 0 calc(5% / 3);
  margin: 1rem 0;
}
.grid--article::before {
  height: 12rem;
  width: 12rem;
  content: '';
  display: inline-block;
  border-radius: 50%;
  position: relative;
  top: 10rem;
  z-index: -1;
  margin-top: -14rem;
  left: calc((100% - 12rem) / 2);
}
.grid--article:hover {
  color: #D48852;
  cursor: pointer;
}
.grid--article:hover::before {
  background-color: #D48852;
  height: 12rem;
  width: 12rem;
  content: '';
  display: inline-block;
  border-radius: 50%;
  position: relative;
  top: 10rem;
  z-index: -1;
  margin-top: -14rem;
  left: calc((100% - 12rem) / 2);
}
.article--picture {
  overflow: hidden;
  height: 12rem;
  width: 12rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.article--picture-large {
  align-items: center;
}
.picture {
  width: auto;
  height: 135%;
}
.article--info {
  text-align: center;
  margin: 1rem 0 0 ;
}
.info--name {
  margin: 0;
}
.info--price {
  margin: 0.5rem 0 0;
  font-size: 1.1rem;
}