.purchase {
  margin: 3rem 0;
  padding: 0 2rem;
  display: flex;
  flex-flow: column wrap;
}
.purchase--title {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.purchase--title>span {
  color: #424242;
  font-weight: 200;
  font-size: 0.95rem;
}
.purchase--steps {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 0;
  margin: 0 0 4rem;
}
.purchase--steps>li {
  margin-right: 1.4rem;
}

.purchase--product {
  display: flex;
  flex-flow: row wrap;
  margin: 0 0 3rem;
}
.product--picture {
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  border: solid #f4b37d 0.1rem;
}
.product--picture>img {
  width: 130%;
  height: auto;  
  object-fit: cover;
  object-position: -1.5rem -1rem;
}
.product--info {
  margin-left: 1.8rem;
}

input {
  border: solid #f4b37d 0.08rem;
  background-color: #ffffff;
  color: #f4b37d;
  font-weight: 400;
  font-size: 1.1rem;
  padding: 0.4rem 0.8rem;
  /*width: 100%;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  border: none;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 0.02rem;
  padding: 0.6rem 1.4rem;
  align-self: flex-end;
}
button:hover {
  border: solid #F1B169 0.08rem;
  padding: 0.54rem 1.2rem;
  font-weight: 400;
}
button:active {
  box-shadow: 0rem 0.2rem 0.4rem rgba(212, 136, 82, 0.20);
}