/* GENERAL STYLES */
body {
  background-color: #f4d5b8;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #424242;
  letter-spacing: 0.005rem;
}
p {
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.25rem;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1.1rem;
}
a {
  text-decoration: none;
  color: inherit;
}

/* NAVBAR */
header {
  background-color: #ffffff;
  margin: 0;
  padding: 1rem;
  color: #424242;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
.header--menu {
  margin: 0 1rem 0 0;
  width: calc(25vw - 2rem);
}
.menu--icon {
  height: 1.8rem;
  cursor: pointer;
}
.header--title {
  margin: 0 1rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 100;
  width: calc(50vw - 2rem);
}
.header--icons {
  display: flex;
  flex-flow: row wrap;
  width: calc(25vw - 2rem);
  justify-content: flex-end;
}
.icons--svg {
  height: 1.8rem;
  margin-left: 0.7rem;
}

/* FOOTER */
footer {
  background-color: #ffffff;
  margin: 0;
  padding: 1rem 0;
  color: #a8a8a8;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.footer--credits {
  width: 100%;
}
.credits--list {
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  width: 50%;
  margin: 1rem auto;
  justify-content: center;
}
.list--item {
  display: inline;
  margin: 0 1rem 0 0;
  text-align: center;
}

/* MENU */
.menu {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 30vw;
  z-index: 99;
  padding: 1rem;
  background-color: #fdf6f1;
  color: #f4b37d;
  box-shadow: 0.1rem 0 0.5rem 0.4rem rgba(0, 0, 0, 0.4);
}
.menu--close {
  height: calc(20vh - 1rem);
  display: flex;
  align-items: flex-start;
}
.close--icon {
  height: 1.8rem;
  cursor: pointer;
}
.menu--entries {
  height: calc(80vh - 1rem);
}
.entries--list {
  display: flex;
  flex-flow: column wrap;
  padding: 0;
  margin: 0;
}
.list--link {
  display: block;
  margin: 0 2rem 3rem 0;
  font-size: 1.4rem;
  border-bottom: solid 0.1rem;
  padding-bottom: 0.5rem
}

.menu--animation-in {
  animation: slidein-menu 0.7s;
}
.menu--animation-out {
  animation: slideout-menu 0.7s;
}
@keyframes slidein-menu {
  from {
    left: -30vw;
  }
  to {
    left: 0;
  }
}